<html>
<head>
	<title>PlayIt</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/style.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script>
	$(document).ready(function (){
		// $('button').click(function (){
		// 	var user_name = prompt("What is your name?");
		// 	alert(user_name);
		// })
	})
	</script> 
</head>
<body>
	<div id="wrapper" class="pop_background">
		<div id="content">
			<h1 class="huge">PlayIt</h1>
			<h3 class="large">Choose a game.</h3>

			<button id="catch_icon" class='icon'><a href="catchit">CatchIt</a></button>
			<button id="match_icon" class='icon'><a href="matchit">MatchIt</a></button>
			<button id="pop_icon" class='icon'><a href="popit">PopIt</a></button>
		</div>
	</div>

</body>
</html>