<html>
<head>
	<title></title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<style type="text/css">
		* {
			margin: 0px;
		}

		#wrapper {
			height: 960px; width: 540px;
			background-image: url('./../images/pop/background.png');
			text-align: center;
			color: white;
		}

		#instructions {
			padding-top: 200px;
		}

		.huge {
			font-size: 60px;
		}

		.balloon {
			position: absolute;
		}

	</style>
</head>
<body>
	<div id='wrapper'>
		<div id='instructions'>
			<h1>Tap the balloon below to</h1>
			<h1 class='huge'>Pop It</h1>
			<h1>Before it flies away!</h1>
		</div>
		<div id='balloons'>
		</div>
	</div>
</body>
<script type="text/javascript">

	function Balloon(id, x, y) {
		this.info = { id: id, x: x, y: y, pop: false };
	}

	Balloon.prototype.drawBalloon = function (html) {
		var el = document.getElementById('balloons');
		el.innerHTML = html;
	}

	Balloon.prototype.updateBalloon = function (balloons, callback) {
		// if (this.info.pop == true) {
		// 	var el = document.getElementById(this.info.id);
		// 	if (el) {
		// 		for (var id in balloons) {
		// 			if (this.info.id == id) {
		// 				balloons.splice(id, 1);
		// 			}
		// 		}
		// 	}
		// }
		// else {
			this.info.y -= 10;
			document.getElementById(this.info.id).style.top=this.info.y;
			var el = document.getElementById('balloons');
			var output = el.innerHTML;
			callback(output);
		// }
	}

	Balloon.prototype.popBalloon = function (x, y, balloons) {
		var that = this;
		var x_cent = this.info.x + 50;
		var y_cent = this.info.y + 67;
		var delta = getDistance (x, x_cent, y, y_cent);
		if (delta <= 50) {
			var el = document.getElementById(that.info.id)
			if (el) {
				el.remove();
				for (var id in balloons) {
					if (balloons[id].info.id == that.info.id) {
						balloons.splice(id, 1);
					}
				}
			}
			// document.getElementById(this.info.id).src='images/balloon-pop.png';
			// this.info.pop = true;
		}

		function getDistance (x1, x2, y1, y2){
			return Math.sqrt((x1-x2)*(x1-x2) + (y1-y2)*(y1-y2));
		}
	}

	function Game() {
		this.balloons = [];
		this.balloon_id = 1;
		this.html = ''
	}
	var balloons = [];
	var id = 1;
	var html = '';

	function mainLoop() {
		for (var id in balloons) {
			balloons[id].updateBalloon(balloons, function(output) {
				html = output;
			});
			var el = document.getElementById('balloons');
			var output = el.innerHTML;
		}
	}

	function makeBalloonLoop() {
		if (id <= 10) {
			var x = Math.floor(Math.random()*440);
			var y = 800;
			var balloon = new Balloon(id, x, y);
			html += "<img id='" + balloon.info.id + "' class='balloon' src='./../images/pop/balloon.png' style='left:" + balloon.info.x + "px; top:" + balloon.info.y + "px;'>"
			balloon.drawBalloon(html);
			balloons[id] = balloon;
			id++;
			console.log(balloons);
		}
	}

	document.onclick = function(e) {
		for (var id in balloons) {
			balloons[id].popBalloon(e.x, e.y, balloons);
		}
	}

	setInterval(makeBalloonLoop, 1000);
	setInterval(mainLoop, 100);
	

</script>
</html>